
body {
    background-color: black;
    color: green;
}

.message-body { display: block; position: relative; color: white;
		margin-bottom: 6px;
		font-size: 12px;
	      }
.message-header { display: flex; align-content: space-between; position: relative; color: white;
		  font-size: 10px;
		  margin-bottom: 2px;
	      }
.message-id { display: block; position: relative; font-weight: bold;
	      font-weight: 9px;
	      margin: 1px;
	      }



.message-name { display: block; position: relative; color: green;
		margin-left: 5px;
		margin-right: 5px;
	      }
.message-date { display: block; position: relative; color: red;
		margin: 1px;
	      }


.message { align-content: space-between; display: flex;
	 }

.reply {
    font-size: 10px;
}

.reply-message {
    background-color: black;
    color: white;
    width: inherit;
    border: 1px solid #888;
    width: 300px;
    display: block;
    font-size: 10px;
    position: relative;
}

.reply-name {
}
.reply-button-area {
    width: inherit;
    position: relative;
}
.reply-prompt {
    font-size: 16px;
}
.reply-button {
    height: 20px;
    background: red;
    color: black;
    border: 2px;
    position: relative;
}
.reply-input-name {
    background-color: black;
    color: green;
    width: auto;
    width: inherit;

    display: inline;
    font-size: 10px;
    border: none;
    align: right;
    position: relative;
}
